<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="cef.redist.x64" version="79.1.36" targetFramework="net48" />
  <package id="cef.redist.x86" version="90.5.7" targetFramework="net48" />
  <package id="CefSharp.Common" version="86.0.241" targetFramework="net48" />
  <package id="CefSharp.WinForms" version="89.0.170" targetFramework="net48" />
  <package id="MetroModernUI" version="1.4.0.0" targetFramework="net48" />
  <package id="ModernUI" version="2.0.0" targetFramework="net48" />
  <package id="MoreCollection" version="2.0.0" targetFramework="net48" />
  <package id="protobuf-net" version="3.0.101" targetFramework="net48" />
  <package id="protobuf-net.Core" version="3.0.0-alpha.133" targetFramework="net48" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net48" />
  <package id="System.Collections.Immutable" version="5.0.0-preview.1.20120.5" targetFramework="net48" />
  <package id="System.Memory" version="4.5.4" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="5.0.0" targetFramework="net48" />
</packages>